# Name: BioImageInformatics_2020

# Author: Daniel Sage @ EPFL
# Version: 1.0.0
# Date: 04.02.2021
# Requires: ImageJ 1.53
# Requires: Java 1.8.0_191 (64-bit)

Plugins>Membrane Development, "Run Membrane Development", Membrane_Development("")  
Plugins>Membrane Development, "Detect Membrane", Detect_Membrane("")
Plugins>Membrane Development, "Apply Transformation", Apply_Transformation("")
Plugins>Membrane Development, "Polar Transformer", PolarTransformer("")
Plugins>Membrane Development,"Generate Volume", GenerateVolume("")
Plugins>Membrane Development, "Experiments", Experiments("")
Plugins>Membrane Development, "Preprocessing", Preprocessing("")