# Name: BioImageInformatics_2020

# Author: Daniel Sage @ EPFL
# Version: 1.0.0
# Date: 04.02.2021
# Requires: ImageJ 1.53
# Requires: Java 1.8.0_191 (64-bit)

Plugins>Polar Transformer, "Polar Transformer", PolarTransformer("")
Plugins>Generate Volume,"Generate Volume", GenerateVolume("")
Plugins>Experiments, "Experiments", Experiments("")
Plugins>Preprocessing, "Preprocessing", Preprocessing("")